body {
  background: #102980;
}

.backpage {
  background: linear-gradient(#96FFFFFF, #FFFFFF);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 20px;
  max-width: 1000px;
}
.banner {
  display: flex;
  justify-content: space-around;
}
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #33b249;
  border: 5px solid #5dbea3;
  border-radius: 15px;
}
.button:hover {background-color: #39b929}
.button:active {
  background-color: #53c269;
  transform: translateY(4px);
}
