body {
  background: #0000e3;
}

.backpage {
  background: linear-gradient(#f0f0f0, #43ff64d9);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 1000px;
}
.banner {
  background: red;
}
